/**
 * @summary This is the styling page for the Upload Button
 */

button.customUploadButton {
    margin: 2em 0 0.25em 0;
    padding: 3px;
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
}

button.customUpdateButton {
    margin: 0.25em;
    padding: 3px;
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
}

button.customRemoveButton {
    margin-bottom: 0.25em;
    padding: 3px;
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
}

img.uploadedImg {
    margin: 0em;
    width: 95%;
    height: 30vh;
    border-radius: 5%;
}

.btn-wrapper-margin {
    margin-top: 10vh;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

@media screen and (min-height: 668px) {
    .btn-wrapper-margin {
        margin-top: 4.5vh;
        margin-bottom: 10px;
    }
}

@media screen and (min-height: 796px) {
    .btn-wrapper-margin {
        margin-top: 4.5vh;
        margin-bottom: 10px;
    }

    img.uploadedImg {
        margin: 0em;
        width: 95%;
        height: 30vh;
        border-radius: 5%;
    }
}
