/**
 * @summary This is the styling page for the Upload Button
 */

button.customUploadButton {
    margin: 2em 0 0.25em 0;
    padding: 7px;
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
}

button.customUpdateButton {
    margin: 0.25em;
    padding: 7px;
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
}

button.customRemoveButton {
    margin-bottom: 0.25em;
    padding: 7px;
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
}

img.uploadedImg {
    margin: 2em 0 0 0;
}