#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.collapse-footer-open {
  position: fixed;
  top: 80%;
  left: 88%;
  border: none !important;
  background:none;
  outline: none;
}

.collapse-footer-closed {
  position: fixed;
  top: 93%;
  left: 88%;
  border: none !important;
  background:none;
  outline: none;
}

.collapse-footer-closed:focus,.collapse-footer-open:focus {
  outline: none;
}

.collapse-footer-closed:active,.collapse-footer-open:active {
  -webkit-tap-highlight-color: transparent;
}

.sm-input {
  width: 30vw;
  height: 35px;
}

.md-input {
  width: 45vw;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;;
  display: flex;
  align-items: center;
}

.login {
  margin-bottom: 16px;
}

.backNavButton {
  position: absolute;
  left: 2vh;
  top: 9.2vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  &:focus {
      outline: none;
  }
  &:hover {
      transform: scale(0.9);
  }

  @media (orientation: landscape) {
      top: 12.5vh
  }
}

.base-container {
  height: 80vh;
}

.chart-container {
  height: 50vh;
  width: 80vw;
  margin-bottom: 5px;
}

.chart-container-landscape {
      height: 70vh;
    width: 75vw;
    margin-left: 6vw;
    margin-top: 10px;
}

.carousel-container {
  width: 94vw;
  height: 46vh;
  margin-top: 10vh;
}

.carousel-img {
  width: 10em;
  height: 10em;

  border-radius: 5px;
}

canvas{
  height: 50vh !important;
}

span{
  font-family: inherit !important;
}

.form-container {
  margin-top: 10vh;
  height: 70vh;
  overflow: scroll;
}

.depth-btn {
  margin: 0.5em;
  height: 35px;
  width: 150px;
  background-color: #003366;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  margin: 0.5em;
  width: 150px;
  height: 35px;
  color: #ffffff;
  background-color: #003366;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-button {
  background-color: white;
  border: 1px solid;
  border-color: black;
  color: black;
  padding: 4px;
  margin: 0.25em;
}

.image-marker__image {
  height: 50vh;
  border: 1px solid;
  border-color: white;
  border-radius: 2%;
}

.marker-text {
  position: absolute;
  top: -15px;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

.bcds-react-aria-Modal{
  position: absolute !important;
  top: 15vh !important;
  overflow: scroll !important;
  max-height: 65vh !important;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker-column{
  height: inherit;
  justify-content: space-evenly;
}

.tab-container{
  height: 80vh;
}

.margin-div{
  height: 8vh;
}

@media (orientation: landscape) {
  .collapse-footer-open {
    position: absolute;
    top: auto;
    bottom: 14%;
    left: 93%;
    border: none !important;
    background:none;
    outline: none;
  }
  
  .collapse-footer-closed {
    position: absolute;
    top: auto;
    bottom: 2%;
    left: 93%;
    border: none !important;
    background:none;
    outline: none;
  }

  .footer{
    flex-direction: row !important;
  }

  .base-container {
    flex-direction: row !important;
    justify-content: space-evenly;
  }

  .form-container{
    height: 55vh;
    width: 80vw;
    margin-top:20vh
  }

  .tab-container{
    display: flex;
    width: 80vw;
    flex-direction: column;
    height: 75vh;
    margin-top: 25px;
  }

  .bcds-react-aria-Select{
    position: absolute;
    top: 14vh;
    right: 80px;
  }

  canvas{
    height: 55vh !important;
  }

  .carousel-landscape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 37vh;
  }

  .carousel-container{
    margin-top: 0vh;
  }

  .margin-div{
    height: 25vh;
  }
}

@media (min-height: 668px) {
  .collapse-footer-open {
    top: 80%;
  }
  
  .collapse-footer-closed {
    top: 95%;
  }

  .base-container {
    height: 85vh;
  }

  .tab-container{
    margin-top: 5vh;
    height: 85vh;
  }

  .carousel-img{
    width: 14em;
    height: 14em;
    margin-left: 10px;
  }
}